body{
    background-color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    color: white;
    margin-left: 40px;

}

.form-info{
    margin: 5px;
}

.label-form{
    
    color: rgb(27, 166, 235);
    display: block;
    margin: 5px;
}

.input-item{
    background-color: rgb(0, 93, 139);
    width: 300px;
    border: none;
    border-radius: 4px;
    height: 20px;
    margin: 5px;
}
ul > li {
    list-style: none;
    color: rgb(178, 226, 250);
    padding: 2px;
}

.btn{
    display: block;
    margin: 5px;
    width: 300px;
    border: 1px solid  rgb(0, 93, 139);
    color:  rgb(0, 93, 139);
    background-color:  rgba(0, 93, 139, 0.418);
    font-weight: bold;
    border-radius: 4px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-danger{
    color: red;
    border: 1px rgb(139, 5, 5) solid;
    border-radius: 3px;
    margin: 0.7rem;
    background-color: rgba(255, 0, 0, 0.204);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}